/* @jorgelisapa */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mystery+Quest&display=swap");

:root {
  /* color */
  --first-color: #291507;
  --second-color: #050709;
  --third-color: #e3e1dc;
  --quarter-color: #544439;
  /* #e3e1dc */

  /* gray */
  --gray-3-color: #313131;
  --gray-5-color: #5a5a5a;
  --gray-10-color: #c1c1c1;
  --gray-11-color: #d6d6d6;
  --gray-12-color: #eaeaea;
  --gray-13-color: #f5f5f5;
  --gray-14-color: #f2f2f2;
  --gray-15-color: #f1f1f1;

  /* font */
  --first-font: "Mystery Quest", cursive;
  --second-font: "Montserrat", sans-serif;

  /* Ej: var (--main-color); */
}

* {
  margin: 0;
}
body {
  font-size: 16px;
  font-family: var(--second-font);
  background: #fff;
  margin: auto;
}
/* HEADER */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  background: #fff;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  height: inherit;
  margin: auto;
}
.brand {
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}
.brand__text {
  font-family: var(--first-font);
  font-size: 24px;
  margin-right: 8px;
  color: var(--first-color);
}
.brand__icon {
  font-size: 24px;
  color: var(--first-color);
}

/* QUALITIES */
.qualities {
  max-width: 1250px;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 40px;
}
.details__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.qualities__img {
  width: 370px;
  height: 370px;
  object-fit: cover;
  border-radius: 24px;
}

.qualities__all-details {
  width: 55%;
}

.qualities__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--first-color);
  margin-bottom: 25px;
}
.qualities__description {
  font-size: 18px;
  color: var(--first-color);
  margin-bottom: 30px;
}
.qualities__detail {
  font-size: 16px;
  color: var(--second-color);
  font-weight: 600;
}

.qualities__detail,
.qualities__level {
  margin-bottom: 25px;
}

.qualities__levels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.qualities__span {
  font-weight: 500;
}
.qualities__details-container {
  width: 100%;
}
.qualities__detail-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qualities__level {
  width: 15%;
  height: 12px;
  background: var(--first-color);
  border-radius: 6px;
}

.qualities__level--color {
  background: var(--gray-10-color);
}

.qualities__level--white {
  background-color: #fff;
  width: 100%;
}

/* OTHER-IMAGES */
.photos {
  max-width: 1250px;
  margin: auto;
  padding: 40px 0;
}

.photos__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--first-color);
}

.photos__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photos__img {
  width: 280px;
  height: 280px;
  border-radius: 24px;
  object-fit: cover;
  margin: 20px 0;
}

/* FOOTER */
.footer {
  width: 1250px;
  height: 90px;
  margin: auto;
  background: var(--second-color);
  border-radius: 50px 50px 0 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  height: inherit;
  margin: auto;
}

.brand__text--white,
.brand__icon--white {
  color: #fff;
}
.terms {
  color: #fff;
  font-size: 18px;
}
