/* @jorgelisapa */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mystery+Quest&display=swap");

:root {
  /* color */
  --first-color: #291507;
  --second-color: #050709;
  --third-color: #e3e1dc;
  --quarter-color: #544439;
  /* #e3e1dc */

  /* gray */
  --gray-3-color: #313131;
  --gray-5-color: #5a5a5a;
  --gray-10-color: #c1c1c1;
  --gray-11-color: #d6d6d6;
  --gray-12-color: #eaeaea;
  --gray-13-color: #f5f5f5;
  --gray-14-color: #f2f2f2;
  --gray-15-color: #f1f1f1;

  /* font */
  --first-font: "Mystery Quest", cursive;
  --second-font: "Montserrat", sans-serif;

  /* Ej: var (--main-color); */
}

* {
  margin: 0;
}
body {
  font-size: 16px;
  font-family: var(--second-font);
  background: #fff;
  margin: auto;
}
/* HEADER */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  background: #fff;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  height: inherit;
  margin: auto;
}
.brand {
  display: flex;
  justify-content: left;
  align-items: center;
}
.brand__text {
  font-family: var(--first-font);
  font-size: 24px;
  margin-right: 8px;
  color: var(--first-color);
}
.brand__icon {
  font-size: 24px;
  color: var(--first-color);
}

/* MAIN */
.main {
  width: 1250px;
  height: 540px;
  padding: 80px 0 0;
  margin: auto;
}
.main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  height: inherit;
  margin: auto;
  background: var(--second-color);
  border-radius: 60px 60px 0px 0px;
}
.main__details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  height: 50%;
  margin-left: 100px;
}
.main__brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.main__brand-text {
  font-family: var(--first-font);
  font-size: 64px;
  color: var(--gray-15-color);
  margin-right: 24px;
}
.main__brand-icon {
  font-size: 64px;
  color: var(--gray-15-color);
}
.main__h1 {
  color: var(--gray-15-color);
  font-size: 24px;
  font-weight: 500;
}
.main__browser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background: var(--gray-15-color);
  padding: 0 24px;
  border-radius: 35px;
}
.main__browser-text,
.main__browser-search {
  font-size: 18px;
}
.main__img {
  position: relative;
}
.main__img img {
  position: absolute;
  width: 750px;
  right: 0;
  bottom: -270px;
}

/* BREEDS */
.breeds {
  width: 1250px;
  height: auto;
  background: var(--third-color);
  padding: 40px 0;
  margin: auto;
  border-radius: 0 0 40px 40px;
}
.breeds__container {
  max-width: 1050px;
  height: inherit;
  margin: auto;
}
.breeds__most-searched {
  color: var(--first-color);
  margin-bottom: 5px;
  font-size: 18px;
}
hr {
  width: 70px;
  height: 3px;
  background: var(--first-color);
  margin-bottom: 40px;
}
.breeds__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.breeds__title {
  width: 500px;
  font-size: 48px;
  color: var(--first-color);
}

.breeds__see-more {
  font-size: 18px;
  font-weight: 700;
  color: var(--first-color);
  text-decoration: none;
}

.breeds__gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breeds__cat {
  width: 220px;
}

.breeds__img {
  width: inherit;
  height: 220px;
  border-radius: 24px;
  margin-bottom: 20px;
  object-fit: cover;
}
.breeds__name {
  color: var(--first-color);
  font-size: 18px;
  font-weight: 600;
}

/* WHY */
.why {
  width: 1250px;
  margin: auto;
  padding: 100px 0;
}
.why__container {
  display: flex;
  max-width: 1050px;
  margin: auto;
}
.why__details {
  width: 50%;
}
.why__title {
  font-size: 64px;
  color: var(--first-color);
  margin-bottom: 45px;
}
.why__text {
  font-size: 18px;
  color: var(--first-color);
  margin-bottom: 70px;
}
.why__link {
  text-decoration: none;
  color: var(--first-color);
  font-weight: 600;
}

.why__gallery {
  display: grid;
  grid-gap: 30px;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "why__img--1      why__img--3"
    "why__img--2      why__img--3";
}
.why__img {
  border-radius: 24px;
  object-fit: cover;
}

.why__img--1 {
  grid-area: why__img--1;
  width: 275px;
  height: 170px;
}
.why__img--2 {
  grid-area: why__img--2;
  width: 200px;
  height: 300px;
  justify-self: end;
}
.why__img--3 {
  grid-area: why__img--3;
  width: 240px;
  height: 385px;
}

/* FOOTER */
.footer {
  width: 1250px;
  height: 90px;
  margin: auto;
  background: var(--second-color);
  border-radius: 50px 50px 0 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  height: inherit;
  margin: auto;
}

.brand__text--white,
.brand__icon--white {
  color: #fff;
}
.terms {
  color: #fff;
  font-size: 18px;
}
